################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/PokeList_WebApi/bin
/PokeList_WebApi/obj
/PokeList_WebApi/Properties/PublishProfiles
